#root {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 20px;
  bottom: 0;
  right: 0;
}

#btn {
  border-radius: 7px;
  padding: 5px;
  border: 1px dashed gray;
}

#log {
  border: 3px dashed cyan;
  padding: 5rem;
  margin: 2rem;
}